# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
*.suo
*.csproj
*.sln
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
Thumbs.db
# ============ #
# Unity Project#
# ============ #
CrowBuddy_UnityProj/Library/
CrowBuddy_UnityProj/Temp/
CrowBuddy_UnityProj/Builds/
CrowBuddy_UnityProj/UpgradeLog.htm
CrowBuddy_UnityProj/UpgradeLog6.htm
CrowBuddy_UnityProj/UpgradeLog3.htm
CrowBuddy_UnityProj/UpgradeLog4.htm
CrowBuddy_UnityProj/UpgradeLog5.htm
# ============ #
# OS generated #
# ============ #
AkWwiseProjectData.asset
CrowBuddy_UnityProj/GrassdancerWwiseProject/.cache/
CrowBuddy_UnityProj/GrassdancerWwiseProject/GrassdancerWwiseProject.grassdancer-admin.validationcache

*.cache
*.validationcache
*.prof
